body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(242, 255, 129);
    color: rgb(22, 134, 255);
    line-height: 1.7;
    padding-bottom: 50px;
    text-align: center;
}

header {
   background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px 10px;
    
}

header h1 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow: 0 3px 8px rgb(0, 0, 0,0.4)
} 

#brasil {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    background: #ffffff;
    flex-wrap: wrap;
}

#brasil a {
    text-decoration: none;
    color: #000000;
    background: #ffffff;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}
#brasil a:hover {
    background:#3d98e8;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px #3cb1ff;
}

form {
    max-width: 600px;
    margin: 40px auto;
    text-align: left;
}

fieldset {
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
}

legend {
    padding: 0 10px;
    font-weight: 700;
    color: rgb(22, 134, 255);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-top: 5px;
}

textarea {
    resize: none;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #3d98e8;
    color: #fff;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background:#3cb1ff ;
}